img {
  max-width: 100%;
  margin: 20px;
  border-radius: 100px;
}

.user-profile {
  display: flex;
  align-items: flex-start;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-profile-information {
  width: 100%;
}

.user-profile-information p {
  color: gray;
}