.input {
  position: relative;
}

.input label {
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 5px 15px;
  border-right: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
}

.input input {
  margin: 9px 14px 0;
  padding: 8px 80px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}